<footer>
    <div class="container footer_content">
      <div class="row">
        <div class="col-md-1"><div class="logo"><a routerLink="/"><img src="../../assets/images/logo.png"></a></div></div>
        <div class="col-md-5 foo_logo_desc">Lorem ipsum dor amet</div>
        <div class="col-md-3 footer_phone"><a href="tel:88005553535">+55 (48) 9 9999 - 9999</a></div>
        <div class="col-md-3 footer_email"><a href="tomail:analisys-brazilian-stock@gmail.com">analisys-brazilian-stock@gmail.com</a></div>
      </div>
    </div>
  </footer>
  