<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="logo"><a routerLink="/"><img src="../../assets/images/logo.png"></a></div>
      </div>
      <div class="col-lg-4">
        <h4>Sobre</h4>
        <p>Este site tem como objetivo fazer uma análise de estudos de empresas com base nos conceitos de Buy And Hold e Análise Fundamentalista para entusiastas de investimentos.</p>
        <p>Autor: Leonardo Sartori</p>
      </div>
      <div class="col-lg-4">
        <h4>Contato</h4>
        <p>Se precisar de suporte ou tiver alguma dúvida, sinta-se à vontade para entrar em contato conosco:</p>
        <p>Email: <a href="mailto:analisys-brazilian-stock@gmail.com">analisys-brazilian-stock@gmail.com</a></p>
      </div>
    </div>
  </div>
</footer>



<!--<footer>
    <div class="container footer_content">
      <div class="row">
        <div class="col-md-1"><div class="logo"><a routerLink="/"><img src="../../assets/images/logo.png"></a></div></div>
        <div class="col-md-5 foo_logo_desc">Lorem ipsum dor amet</div>
        <div class="col-md-3 footer_phone"><a href="tel:88005553535">+55 (48) 9 9999 - 9999</a></div>
        <div class="col-md-3 footer_email"><a href="tomail:analisys-brazilian-stock@gmail.com">analisys-brazilian-stock@gmail.com</a></div>
      </div>
    </div>
  </footer>
-->