<fieldset class="border p-2">

    <legend class="w-auto">Avaliação</legend>

    <div style="display: flex;">

      <div class="leg-otimo" id="leg-otimo"></div>
      <label class="space-item-leg" for="leg-otimo">Ótimo</label>

      <div class="leg-bom" id="leg-bom"></div>
      <label class="space-item-leg" for="leg-bom">Bom</label>

      <div class="leg-regular" id="leg-regular"></div>
      <label class="space-item-leg" for="leg-regular">Regular</label>

      <div class="leg-ruim" id="leg-ruim"></div>
      <label class="space-item-leg" for="leg-ruim">Ruim</label>

    </div>

  </fieldset>