/* Override background color */
body, .container {
    background-color: #121212 !important;
}

/* Override text color */
body, p, h1, h2, h3, h4, h5, h6 {
    color: #e8e6e3 !important;
}

.form-control {
    color: #e8e6e3 !important;
    background-color: #121212 !important;
}

/* Override link color */
a {
    color: #4e8cff !important;
}

/* Override button background color */
.button, button, .progress {
    background-color: blue !important;
}

/* Override button text color */
.button, button {
    color: #e8e6e3 !important;
}

/* Override border color */
input, textarea, select, button {
    border-color: #4e8cff !important;
}

#card, #stockAnalisys.avaliacaoGeral, #card-title {
    background-color: #121212 !important;
    border-color: #4e8cff !important;
}



